.header_outer_container{
    position: sticky;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
 
}
.nav_black{
  background-color: rgb(20, 20, 20);
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heade_left ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header_right ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}