@import url('https://googleapis.com');

:root {
  /* Fonts */
  --font-base: 'Lexend', sans-serif;
  --font-second-base: 'Inter', sans-serif;

  /* Colors */
  --bg-color: #111111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}

/* Reset Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  background-color: var(--bg-color);
  color: var(--primary-color);
}
